<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>webrtc_mobile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>$(PRODUCT_NAME) media library use</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We need to access your bluetooth</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We need to access your bluetooth</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We need to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>We need to access your camera for setting personal avatar or photo to this account</string>
	<key>NSContactsUsageDescription</key>
	<string>We need to access your address book so we can see if your contacts are also using our application. Tap 'Allow' so we see who else from your contacts also using the application.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location so we can pick you up at the right spot. Tap 'Allow' so we can find you.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location so we can pick you up at the right spot. Tap 'Allow' so we can find you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) need you location for map</string>
	<key>NSMotionUsageDescription</key>
	<string>We need to access your motion sensor</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need to access your photo library for setting personal avatar to this account</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need to access your microphone</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized ads to you.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
